<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>


    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script> -->

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/CSS/styles.css">


    <link rel="stylesheet" href="/CSS/styles2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
</head>

<body>
    <div class="nav-ka-baap">
        <nav class="navbar navbar-expand-lg navbar-light bg-light safnav">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="/">Virtual Darshan</a> -->

                <a class="navbar-brand" href="#">

                    <img src="https://www.linkpicture.com/q/logo_22.jpeg" width="40" height="40" class="d-inline-block align-top" alt="logo">
                    Virtual Darshan
                  </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="about">About us</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Popular Places
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/gp/badrinath/p/Pandukeshwar">Badrinath</a></li>
                                <li><a class="dropdown-item" href="/gp/puri/p/Sri%20JagannathPuri%20Temple">Jagannath Puri</a></li>
                                <li><a class="dropdown-item" href="/gp/Rameswaram/p/Agniteertham">Rameshwaram</a></li>
                                <li><a class="dropdown-item" href="/gp/dwarka/p/Dwarkadheesh%20Temple">Dwarka</a></li>
                            </ul>
                        </li>
                    </ul>

                    </ul>
                    <form class="d-flex search-bar">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>


    <!-- Navbar -->
    <!-- /////////////////// -->

    <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('/Assets/1.jpeg')">

            </div>
            <div class="carousel-item " style="background-image: url('/Assets/2.jpeg')">

            </div>
            <div class="carousel-item " style="background-image: url('/Assets/3.jpeg')">

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only "></span>
        </a>
    </div>


    </header>
    <!-- cards  -->
    <div id="mycards" class="card-group">
        <div class="card" id="card1">
            <div class="card-content">
                <h2 class="card-title">Badrinath
                </h2>
                <p class="card-body">
                    <li>Badrinath is dedicated to lord Vishnu.</li>
                    <!-- <li> </li> -->
                    <li>It is open for every six months b/w April and November</li>
                    <li>The temple is located in Garhwal Hills, Uttarakhand. </li>
                </p>
                <a href="/gp/badrinath/p/Pandukeshwar" class="button button2">Visit Now</a>
            </div>
        </div>
        <div class="card" id="card2">
            <div class="card-content">
                <h2 class="card-title">Dwarka Dham</h2>
                <p class="card-body">
                    <li>Dwarkadhish temple is a Hindu temple dedicated to the god Krishna.</li>
                    <li>It is located at Dwarka city of Gujarat.</li>
                    <li>One of the destinations of Char Dham.</li>
                    <!-- <li>User friendly interface</li> -->
                </p>
                <a href="/gp/dwarka/p/Dwarkadheesh%20Temple" class="button button2">Visit Now</a>
            </div>
        </div>
        <div class="card" id="card3">
            <div class="card-content">
                <h2 class="card-title">Jagannath Puri</h2>
                <p class="card-body">
                    <li>Jagannath Puri is dedicated to Jagannath, a form of Krishna.</li>
                    <li>It is located in Puri in the state of Odisha.</li>
                    <li>It's famous for its annual Ratha Yatra</li>
                    <!-- <li></li> -->
                </p>
                <a href="/gp/puri/p/Sri%20JagannathPuri%20Temple" class="button button2">Visit
                    Now</a>
            </div>
        </div>
        <div class="card" id="card4">
            <div class="card-content">
                <h2 class="card-title">Rameshwaram</h2>
                <p class="card-body">
                    <li>Ramanathaswamy Temple is a Hindu temple.</li>
                    <li>It is located on Rameshwaram island in TamilNadu.</li>
                    <li>It is dedicated to the god Shiva.</li>
                    <!-- <li></li> -->
                </p>
                <a href="/gp/Rameswaram/p/Agniteertham" class="button button2">Visit Now</a>
            </div>
        </div>

    </div>

    <script src="https://kit.fontawesome.com/49e5ffa6a1.js" crossorigin="anonymous"></script>
    <footer>
        <div class="social-media">
            <i class="fa-brands fa-lg fa-github"></i>
            <a href="mailto:codelinguist07@gmail.com"><i class="fa-solid fa-lg fa-envelope"></i></a>
            <i class="fa-brands fa-lg fa-linkedin-in"></i>
        </div>

        <div class="copyright">
            <span>Copyright &#9400; Code Linguist </span>
        </div>
    </footer>



</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

</html>